<div class="modal-header"></div>
<div class="modal-container" *ngIf="modalVisible">
  <form [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
          <div class="modal-head">Change Password</div>
          <div  class="modalinput">
                 <input type="password" name="Old Password" formControlName="OldPassword" minlength="8"  [ngClass]="{ 'is-invalid': submitted && f.OldPassword.errors }" placeholder="Old Passowrd *"/>
                 <div *ngIf="submitted && f.OldPassword.errors" class="text-danger">
                        <div *ngIf="f.OldPassword.errors.required">Password is required</div>
                        <div *ngIf="f.OldPassword.errors.minlength">Password must be at least 8 characters</div>
                  </div>
                 <div *ngIf="oldpass" class="text-danger">Old Password doesn't match</div>
          </div>
          <div class="modalinput">
                      <input type="password"  id="newPswrd" [(ngModel)]="model.newPswrd"  (keyup)="checkPassword(model.newPswrd)"   placeholder="New Password *" minlength="8" ng-pattern-restrict   name = "newPswrd" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

                      <div class="tooltip"><img src="assets/images/Informations_Icon.png" />
                          <span class="tooltiptext">
                              * Use a minimum of 8 characters.Generally, the more
                              characters you can use,the harder a password is to
                              be cracked or guessed.<br/>
                              * Passwords must include 1 English uppercase letters
                              (A through Z).<br/>
                              * Passwords must include 1 English lower case letters
                              (a through z).<br/>
                              * Passwords must include 1 Numbers (0 through 9).<br/>zz
                              * Passwords must include 1 Special characters
                              (Example: _, -. +, =,!, @, %, *, &, ”, :, ., or /).<br/>
                              * Reuse of any of your last 5 passwords is prohibited.</span>
                       </div>
                       <div *ngIf="submitted && f.password.errors" class="text-danger">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                       </div>
                       <p *ngIf="danger_numeric"  class="text-danger">
                        <span>The password must include at least <b>1 numeric character.</b></span>
                       </p>
                      <p *ngIf="danger_specialChar"  class="text-danger">
                      <span>The password must include at least <b>1 special character.</b></span>
                      </p>
                     <p *ngIf="danger_alpha"  class="text-danger">
                     <span>The password must contain both <b>upper and lowercase </b>characters.</span>
                     </p>
          </div>
         <div  class="modalinput">
            <input type="password" name="Confirm Password" placeholder="Confirm Password *" id="cfrmPswrd" formControlName="confirmPassword" ng-pattern-restrict [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"  />
                         <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">New Passwords and Confirm Password not match</div>
                    </div>

         </div>
        <div class="modal-button">
            <button class="secondaryBtn">CHANGE</button>
            <button class="secondaryBtnbdr"  (click)="onReset()" data-dismiss="modal">CANCEL</button>
        </div>
    </form>
</div>
<div class="modal-container" *ngIf="modalSuccess">
  <div class="modal-head">Change Password </div>
<div class="success-icon"><img src="assets/images/Success.png"></div>
<div class="success-text">Password Changed!</div>
<div class="modeltxt-normal padbottom-50">
    Your password has been changed successfully.<br/>
    Use your new password to login.
</div>

<div class="modal-button">
   <button class="secondaryBtn" [routerLink]="['/login']" data-dismiss="modal">LOGIN</button>
  <button class="secondaryBtnbdr" (click)="onReset()" data-dismiss="modal">CANCEL</button>
</div>
</div>
