
.header{
    height: 90px;
    background-color:#000000;
    color: #ffffff;
    display: flex;
    align-items: stretch;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header .logo{
    padding:20px 20px;
    flex-grow: 9;
}

.header .user-detail{
    margin: 35px 20px;
    text-align: right;
    flex-grow: 3
}

.header .support-contact{
    font-weight: bold;
}

.header .support-user a {
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid #FFED00 ;
}

.header .support-user a:hover {
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid #ffffff ;
}


.login-sec{
    background-image: url("../../assets/images//Login_BG_Globe.png") no-repeat;
    Width: 1280 px;
    height: 520px ;
    display: flex;
    flex-wrap: nowrap;
}



.login-sec{

    background-image: url("../../assets/images//Login_BG_Globe.png");
}

.welcome{
    padding:90px 50px 20px 50px;
    width: 50%;
}

.welcome-text{
    font-size: 28px;
    font-weight: normal;
}

.threat-text{
     font-weight: normal;
     font-size: 36px;
     padding-bottom: 30px;

}

.desc-text{
    font-size: 18px;

    letter-spacing: .3px;
}



.login-form{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;

}

.padbottom-40{
    padding-bottom: 40px;
}

.padbottom-25{
    padding-bottom: 25px;
}

.login-form input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 348px;
    height: 46px;
    padding: 0px 16px;
    border: none;
    color: #666666;
}

.login-form input[type=text]:focus {
    outline: none !important;
    border:2px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
}

.login-form input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 348px;
    height: 46px;
    padding: 0px 16px;
    border: none;
    color: #666666;
}

.login-form input[type=password]:focus {
    outline: none !important;
    border:2px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
}


.login-form button{
    background-color: #FFED00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 162px;
    height: 54px;
    border: none;
}

.login-form button:hover{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFED00;
    text-transform: uppercase;
    width: 162px;
    height: 54px;
    border: none;
}

.login-form button:after, :before{
    outline: none!important;
    border: none;
    box-sizing:none;
}

.forgot-password a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #FFED00 ;
    color: #000000;

}

.forgot-password a:hover{
    text-decoration: none;
    border-bottom: 2px solid #ffffff ;
    color: #000000;

}

.footer{

    height: 80px;
    background-color:#000000;
    color: #ffffff;
    padding:20px 20px 0px;
    display: flex;
    align-items: stretch;
}




.footer-terms{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    flex-grow: 9
}

.footer-copyrights{
    text-align: right;
    float: right;
    font-size: 16px;
    font-weight: normal;
    flex-grow: 3
}

.footer-links{
   padding:0px 10px 0px 0px;
   position: relative;

}

.footer-terms a{
    text-decoration: none;
    color: #ffffff

 ;
}


.modal-header{
    height: 5px;
    background-color: #000000;
}

.modal-container{
    padding: 30px;
}

.modal-head{
    font-weight: bold;
    font-size: 30px;
}

.modal-subhead{
    padding:25px 0px 10px 0px;
    font-weight:bold;
    font-size:16px;
}

.modal-text{

    font-weight: normal;
}

.forgotpwd{

    padding: 20px 0px 40px 0px;
}

.forgotpwderror{

    padding: 20px 0px 0px 0px;
}

.forgotpwd input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 428px;
    height: 46px;
    padding: 0px 16px;
    border: none;
    color: #666666 !important;
}

.forgotpwd input[type=text]:focus {
    background-color: #FFFFFF;
    color: #000000 !important;
    border: solid 2px #000000;
    outline: none !important;
}

.forgotpwderror input {
    background-color: #f6ccd0;
    font-weight: normal;
    width: 428px;
    height: 46px;
    padding: 0px 16px;
    border: solid 2px #D0011B ;
    color: #000000;
}

.forgotpwderror input[type=text]:focus {
    background-color: #FFFFFF;
    font-weight: normal;
    width: 428px;
    height: 46px;
    padding: 0px 16px;
    border: solid 2px #000000 ;
    color: #000000;
    outline: none !important;
}

.forgotpwderror-message{
    padding: 8px 0px 40px 0px;
    color:#D0011B;
}


.pwdsend>button{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 180px;
    height: 54px;
    border: none;
    margin-right: 30px;
}


.pwdsend>button:hover{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFED00;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}


.pwdcancel>button{
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 180px;
    height: 54px;
    border: solid 4px #000000;
}


.pwdcancel>button:hover{
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    border: solid 4px #FFED00;
    cursor: pointer;
}

.forgotpwdsuccess-icon{
    padding:30px 0px 10px 0px;
}

.forgotpwdsuccess-text{
    font-weight: bold;
    font-size: 24px;
}

.modeltxt-normal{
    color: #000000;
}

.w3-modal-content {
    width: 490px !important;
    background-color: #ffffff;

}

.modal-dialog{
    width: 490px !important;
    background-color: #ffffff;
}

button:hover{

    cursor: pointer;
}


input:focus::-webkit-input-placeholder{ color:#000000;}

input:focus::-moz-input-placeholder{ color: #000000 !important;}



input:focus::-ms-input-placeholder{ color: #000000;}

input:focus:-webkit-input-placeholder{ color: #000000;}

*:focus::-moz-placeholder { color: #000000; }


*::focus::-moz-placeholder { color: #000000; }


.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgb(0,0,0);background-color:rgba(255, 250, 250, 0.9);}
.w3-modal-content{margin:auto;position:relative;padding:0;outline:0;width:490px; box-shadow:1px 1px 1px 1px #ccc; border-top:none; border-left:2px solid #d5d1d1;}


@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}


@media (min-height:695px) and (max-height:795px){
    footer{height:200px !important}
}


@media (min-height:796px) and (max-height:895px){
    footer{height:280px !important}
}


@media (min-height:896px) and (max-height:995px){
    footer{height:370px !important}
}


@media (min-height:996px) and (max-height:1100px){
    footer{height:450px !important}
}


@media (min-height:1101px) and (max-height:1200px){
    footer{height:570px !important}
}


@media (min-width:1300px) {
    body{
        overflow-y: hidden;
    }


}


@media (min-width:1281px) {


    .login-sec{

        background-position-x: right;
        background-repeat: no-repeat;
    }
}



footer ul {
    padding:0;
    margin: 0;
}

footer li {
    display:inline-block
}

.footer-links {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.footer-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFED00;
    transition: width .3s;
}

.footer-links:hover::after {
    width: 100%;

}


@media (min-height:796px) {
  footer{height:400px !important}
}



@media (min-width:1300px) and (min-height:800px) {
  body{
      overflow-y: hidden;
  }


}




@media (min-width:1281px) {


  .login-sec{

      background-position-x: right;
      background-repeat: no-repeat;
  }
}
.paddingtop-10 {
    padding-top: 10px;

}

/* input.ng-invalid input.ng-dirty {
    background-color: pink;
  } */
 .login-form .is-invalidborder input {
    border: 2px solid red;
}

.login-form .invalid-element {
    display: block;
    font-size: 14px;
    color: yellow;
    font-weight: bold;
}
