<nav>
  <div class="navigation">
       <ul class="nav">
           <li><a href="#" class="active hover">USERS</a></li>
           <li><a href="#" class="hover hover-1" >VULNERABILITY UPLOAD</a></li>
           <li><a href="#" class="hover hover-1">PROJECT ACCOUNTS</a></li>
           <li><a href="#" class="hover hover-1">A/C - PRODUCT SEARCH</a></li>
           <li><a href="#" class="submenu">ADVISORIES</a>
               <ul>
                   <li><a href="#">CVE Advisory</a></li>
                   <li><a href="#">No CVE Advisory</a></li>
                   <li><a href="#">Custom Advisory</a></li>
                   <li><a href="#">EOL/EOS Advisory</a></li>
               </ul>
           </li>
           <li><a href="#" class="submenu">RELEASED ADVISORIES</a>
               <ul>
                   <li><a href="#">CVE Released Advisory</a></li>
                   <li><a href="#">CVE Checked Released Advisory</a></li>
                   <li><a href="#">No CVE Released Advisory</a></li>
                   <li><a href="#">EOL/EOS Released Advisory</a></li>
               </ul>
           </li>
       </ul>
  </div>
</nav>
