  <div class="modal-header"></div>
  <div class="modal-container">
      <div class="modal-head">Create User</div>
            <div class="Editinput">
                  <input type="text" id="name" name="Name" class="marginright30" value="" placeholder="Name *">
                  <input type="text"  name="Username" placeholder="Username/Short ID *">
                  <input type="email" id="email"class="marginright30" placeholder="Email *" name="email">
                  <div class="custom-select filter-select select-createuser frt">
                      <select><option value="0">Select Role *</option>
                                          <option value="0">TVA Admin</option>
                                          <option value="1">TVA User</option>
                                          <option value="2">TVA Administrator</option>
                                          <option value="3">TVA User Upload</option>
                                          <option value="2">TVA</option>
                        </select>
                    </div>
                    <br class="clr" />
                  <input type="password" id="pwd" class="marginright30" placeholder="Password *" name="pswd">
                  <input type="password" id="Confirmpwd" placeholder="Confirm Password *" name="Confirm Password">
              </div>
              <div class="modal-button">
                  <button class="secondaryBtn" onclick="document.getElementById('create01').style.display='none'">CREATE</button>
                  <button class="secondaryBtnbdr" data-dismiss="modal">CANCEL</button>
              </div>
  </div>
