<div class="modal-header"></div>
<div class="modal-container">
    <div class="modal-head">Create User</div>
        <div class="Editinput">
            <input type="text" id="name" name="Name" class="marginright30" value="" placeholder="Name *">
            <input type="text"  name="Username" placeholder="Username/Short ID *">
            <input type="email" id="email"class="marginright30" placeholder="Email *" name="email">
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option value="option0">Select Role *</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
                          <br class="clr" />
              <input type="password" id="pwd" class="marginright30" placeholder="Password *" name="pswd">
              <input type="password" id="Confirmpwd" placeholder="Confirm Password *" name="Confirm Password">
          </div>
          <div class="modal-button">
            <button class="secondaryBtn" onclick="document.getElementById('create01').style.display='none'">CREATE</button>
            <button class="secondaryBtnbdr" data-dismiss="modal">CANCEL</button>
          </div>
</div>
