<header>
  <div class="Bghdrtop header">
      <div class="containerwidth">
          <div class="frt">
              <ul class="headernav">
                  <li><a href="#" class="contactsupport"> <strong>Support Contact: </strong> <span>TVM_Admins@dxc.com</span></a></li>
                  <li><a class="adminlogin" href="#">Imran Ali Jammalamadu (Admin)</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="Bghdr header">
      <div class="containerwidth top17">
          <div class="logo paddtop7"><img src="assets/images/DXCLogo.png" alt="DXC Technology" title="DXC Technology" />
              <span class="logotxt">Threat and Vulnerabillity Alert Notification (TVAN)</span>
          </div>
          <div class="frt">
              <ul class="adminlink">
                  <li><a href="#" class="changepassword" onclick="document.getElementById('id01').style.display='block'"> CHANGE PASSWORD</a></li>
                  <li><a class="logout" href="#"> LOGOUT</a></li>
              </ul>
          </div>
          <br class="clr">
      </div>
  </div>
</header>
