<app-header></app-header>
<app-navigation></app-navigation>
<section class="maincontainer clr">
  <div class="createuser test"><a href="#" data-toggle="modal" data-backdrop="static" data-target="#createModal">CREATE USER</a></div>
  <table id="example" class="display userTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
      <thead>
          <tr>
              <th>Full Name</th>
              <th class="secondcolumn">Username/Short ID</th>
              <th>Email</th>
              <th>Role</th>
              <th>Account Name</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let person of persons">
              <td>{{person.name}}</td>
              <td>{{person.username}}</td>
              <td>{{person.email}}</td>
              <td>{{person.role}}</td>
              <td>{{person.clientName}}</td>
              <td class="accountmap" title="Account Mappting" onclick="document.getElementById('account01').style.display='block'"></td>
              <td class="revokemap" title="Revoke Mapping" onclick="document.getElementById('revoke01').style.display='block'"></td>
              <td class="edit-icon" title="Edit" data-toggle="modal" data-backdrop="static" data-target="#editModal"></td>
              <td class="deleteicon" title="Delete" data-toggle="modal"  data-backdrop="static" (click)="onSelect(person)" data-target="#deleteModal"></td>
          </tr>
        </tbody>
      </table>
</section>

<div class="modal right" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <app-changepassword></app-changepassword>
          </div>
        </div>
     </div>

<div class="modal right" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content edit-modal create">
          <app-createuser></app-createuser>
        </div>
      </div>
</div>
<div class="modal right" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content edit-modal">
          <app-edituser
            [Name]="Name"
            [UserName]="UserName"
            [role]="role"
            [Email]="Email">
          </app-edituser>
        </div>
      </div>
 </div>
<div class="modal right" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content delete-modal">
      <app-deleteuser
      [username]="username"
      [id]="id">
    </app-deleteuser>
      </div>
  </div>
</div>
