<header>
  <div class="Bghdrtop header">
      <div class="containerwidth">
          <div class="frt">
              <ul class="headernav">
                  <li><a href="#" class="contactsupport"> <strong>Support Contact: </strong> <span>TVM_Admins@dxc.com</span></a></li>
                  <li><a class="adminlogin" href="#">{{ userdata }}</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="Bghdr header">
      <div class="containerwidth top17">
          <div class="logo paddtop7"><img src="assets/images/DXCLogo.png" alt="DXC Technology" title="DXC Technology" />
              <span class="logotxt">Threat and Vulnerabillity Alert Notification (TVAN)</span>
          </div>
          <div class="frt">
              <ul class="adminlink">
                  <li><a href="#" class="changepassword" data-toggle="modal" data-backdrop="static" data-target="#myModal2"> CHANGE PASSWORD</a></li>
                  <li><a class="logout" href="#" (click)="Logout()"> LOGOUT</a></li>
              </ul>
          </div>
          <br class="clr">
      </div>
  </div>
</header>
<nav>
    <div class="navigation">
         <ul class="nav">
             <li><a href="#" class="active hover">USERS</a></li>
             <li><a href="#" class="hover hover-1" >VULNERABILITY UPLOAD</a></li>
             <li><a href="#" class="hover hover-1">PROJECT ACCOUNTS</a></li>
             <li><a href="#" class="hover hover-1">A/C - PRODUCT SEARCH</a></li>
             <li><a href="#" class="submenu">ADVISORIES</a>
                 <ul>
                     <li><a href="#">CVE Advisory</a></li>
                     <li><a href="#">No CVE Advisory</a></li>
                     <li><a href="#">Custom Advisory</a></li>
                     <li><a href="#">EOL/EOS Advisory</a></li>
                 </ul>
             </li>
             <li><a href="#" class="submenu">RELEASED ADVISORIES</a>
                 <ul>
                     <li><a href="#">CVE Released Advisory</a></li>
                     <li><a href="#">CVE Checked Released Advisory</a></li>
                     <li><a href="#">No CVE Released Advisory</a></li>
                     <li><a href="#">EOL/EOS Released Advisory</a></li>
                 </ul>
             </li>
         </ul>
    </div>
  </nav>


<section class="maincontainer clr">
  <div class="createuser test"><a href="#" data-toggle="modal" data-backdrop="static" data-target="#createModal">CREATE USER</a></div>
  <table id="example" class="display userTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
      <thead>
          <tr>
              <th>Full Name</th>
              <th class="secondcolumn">Username/Short ID</th>
              <th>Email</th>
              <th>Role</th>
              <th>Account Name</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let person of persons" [attr.id]="person.id">
              <td>{{person.name}}</td>
              <td>{{person.username}}</td>
              <td>{{person.email}}</td>
              <td>{{person.role}}</td>
              <td>{{person.clientName}}</td>
              <td class="accountmap" title="Account Mappting" onclick="document.getElementById('account01').style.display='block'"></td>
              <td class="revokemap" title="Revoke Mapping" onclick="document.getElementById('revoke01').style.display='block'"></td>
              <td class="edit-icon" title="Edit" data-toggle="modal" data-backdrop="static" data-target="#editModal"></td>
              <td class="deleteicon" title="Delete" data-toggle="modal" data-backdrop="static" data-target="#deleteModal"></td>
          </tr>
        </tbody>
      </table>
</section>

<div class="modal right" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <app-changepassword></app-changepassword>
          </div>
        </div>
     </div>

<div class="modal right" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content edit-modal create">
          <app-createuser></app-createuser>
        </div>
      </div>
</div>
<div class="modal right" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content edit-modal">
          <app-edituser></app-edituser>
        </div>
      </div>
 </div>
<div class="modal right" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabe">
  <div class="modal-dialog" role="document">
     <div class="modal-content delete-modal">
          <app-deleteuser></app-deleteuser>
      </div>
  </div>
</div>
