
.header{
    height: 90px;
    background-color:#000000;
    color: #ffffff;
    display: flex;
    align-items: stretch;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header .logo{
    padding:20px 20px;
    flex-grow: 9;
}

.header .user-detail{
    margin: 35px 20px;
    text-align: right;
    flex-grow: 3
}

.header .support-contact{
    font-weight: bold;
}

.header .support-user a {    
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid #FFED00 ;
}

.header .support-user a:hover {    
    text-decoration: none;
    
    font-weight: normal;
    border-bottom: 2px solid #ffffff ;
}

.login-sec{   
    background-image: url("../../assets/images//Login_BG_Globe.png") no-repeat; 
    Width: 1280 px;  
    height: 520px ;
    display: flex;
    flex-wrap: nowrap;    
}



.login-sec{
   
    background-image: url("../../assets/images//Login_BG_Globe.png"); 
}

.welcome{
    padding:90px 50px 20px 50px;
    width: 50%;
}

.welcome-text{    
    font-size: 28px;
    font-weight: normal;    
}

.threat-text{
     font-weight: normal;
     font-size: 36px;
     padding-bottom: 30px;  
     
}

.desc-text{    
    font-size: 18px;
    
    letter-spacing: .3px;
}




.login-form{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    
  }
  
  .padbottom-40{
    padding-bottom: 40px;
  }
  
  .padbottom-25{
    padding-bottom: 25px;
  }
  
  .login-form input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 348px;
    height: 46px;
    padding: 16px;
    border: none;
    color: #666666;
  }
  
  .login-form input[type=text]:focus {
    outline: none !important;
    border:2px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
  }
  
  .login-form input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 348px;
    height: 46px;
    padding: 0px 16px;
    border: none;
    color: #666666;
  }
  
  .login-form input[type=password]:focus {
    outline: none !important;
    border:2px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
  }
  
  
  .login-form button{
    background-color: #FFED00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 162px;
    height: 54px;
    border: none;
  }
  
  .login-form button:hover{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFED00;
    text-transform: uppercase;
    width: 162px;
    height: 54px;
    border: none;
  }
  
  .login-form button:after, :before{
    outline: none!important;
    border: none;
    box-sizing:none;
  }
  
  .login-form .is-invalidborder {
    border: 2px solid red;
  }
  


.forgotPassword .modal-header{
    height: 5px;
    background-color: #000000;
}


.forgotPassword .modal-container{
    padding: 30px;
}


.forgotPassword .modal-heading{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;
}

.forgotPassword .modal-heading-success{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}



.forgotPassword .modal-subhead{
    padding:0px 0px 5px 0px;
    font-weight:bold;
    font-size:16px;
}


.forgotPassword .modal-text{
    
    font-weight: normal;
}


.forgotPassword .forgotpwd{

    padding: 0px 0px 0px 0px;
}


.forgotPassword .forgotpwderror{

    padding: 8px 0px 0px 0px;
}


.forgotPassword .forgotpwd input{
    background-color: #F5F5F5;
    font-weight: normal;
    width: 398px !important;
    height: 46px;
    padding: 0px 16px;
    border: none;
    color: #666666 !important;
}


.forgotPassword .forgotpwd input[type=text]:focus {
    background-color: #FFFFFF;
    color: #000000 !important;
    border: solid 2px #000000;
    outline: none !important;
}


.forgotPassword .forgotpwderror input {
    background-color: #f6ccd0;
    font-weight: normal;
    width: 398px;
    height: 46px;
    padding: 0px 16px;
    border: solid 2px #D0011B ;
    color: #000000;
}


.forgotPassword .forgotpwderror input[type=text]:focus {
    background-color: #FFFFFF;
    font-weight: normal;
    width: 398px;
    height: 46px;
    padding: 0px 16px;
    border: solid 2px #000000 ;
    color: #000000;
    outline: none !important;
}


.forgotPassword .forgotpwderror-message{
    padding: 8px 0px 0px 0px;
    color:#D0011B;
}

.forgotPassword .paddingtop40{
    padding-top: 40px;
}


.forgotPassword .pwdsend>button{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 180px;
    height: 54px;
    border: none;
    margin-right: 30px;
}



.forgotPassword .pwdsend>button:hover{
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFED00;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}



.forgotPassword .pwdcancel>button{
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 180px;
    height: 54px;
    border: solid 4px #000000;
}


.forgotPassword .pwdcancel>button:hover{
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;   
    border: solid 4px #FFED00;    
    cursor: pointer;
}


.forgotPassword .forgotpwdsuccess-icon{
    padding:00px 0px 10px 0px;
}


.forgotPassword .forgotpwdsuccess-text{
    font-weight: bold;
    font-size: 24px;
}


.forgotPassword .modeltxt-normal{
    color: #000000;
}


.forgotPassword .w3-modal-content {
    width: 490px !important;
    background-color: #ffffff;
    
}


.forgotPassword .modal-dialog{
    width: 490px !important;
    background-color: #ffffff;
}


.forgotPassword button:hover{
    
    cursor: pointer;
}

.forgotPassword .invalidpassword{
    border: solid red 2px;
    background-color: #D0011B;
}

.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgb(0,0,0);background-color:rgba(255, 250, 250, 0.9);}
.w3-modal-content{margin:auto;position:relative;padding:0;outline:0;width:490px; box-shadow:1px 1px 1px 1px #ccc; border-top:none; border-left:2px solid #d5d1d1;}


@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}

