
<header class="header">

  <div class="logo">
      <img src="../assets/images/DXCLogo.png" width="71" height="50" alt="DXCLogo">
  </div>
  <div class="user-detail">
      <span><img src="../assets/images/Email.png" alt="Support Email" height="16" width="16">&nbsp;</span>
      <span class="support-contact">Support Contact : </span>
      <span class="support-user"><a href="TVM_Admins@dxc.com">TVM_Admins@dxc.com</a></span>
  </div>

</header>


<main>
  <div class="login-sec">

      <div class="welcome">
          <div class="welcome-text">Welcome to</div>
          <div class="threat-text">Threat and Vulnerability Alert<br> Notification (TVAN)</div>
          <div class="desc-text">Threat and Vulnerability Alert Notiﬁcation (TVAN) developed by DXC Security ASIA is a
              centralized application maintaining and releasing advisories to project accounts with latest security
              threats, vulnerabilities, vendor patches and End of Life/ Support advisories. We are a team of dedicated
              and leveraged security personnel monitoring vendor security alerts and promptly notifying to DXC Account
              management, ASO community, Internal Stakeholders and Clients.
          </div>

      </div>

      <div class="login-form">
          <div style="height: 30px;">
              
              <div class="invalid-element" *ngIf="emailOrPassowrdInvalid">
              Your User ID or Password is invalid, please Enter.</div></div>
          
              <form (ngSubmit)="loginUser()" #f="ngForm" novalidate autocomplete="off">
                  <div class="padbottom-25" style="">
                      <input type="text" name="email" email [(ngModel)]="email" placeholder="User ID" required
                          #remail="ngModel"
                          [ngClass]="{ 'is-invalid': (remail.dirty || remail.touched) &&  remail.errors}" />
  
                  </div>
  
                  <div class="padbottom-40">
                      <input type="password" ngModel name="password" [(ngModel)]="password" placeholder="Password"
                          required #rpassword="ngModel"
                          
                          [ngClass]="{ 'is-invalid': (rpassword.dirty || rpassword.touched) &&  rpassword.errors}" />
  
                  </div>
  
                  <div class="padbottom-40">
                      <button type="submit">Login</button>
                  </div>
              </form>
              <div class="forgot-password">
              <a [routerLink]="['/forgotpassword']" style="cursor:pointer;">FORGOT YOUR
                  PASSWORD?</a>

          </div>

      </div>

  </div>
</main>

<div id="id01" class="w3-modal forgotPassword" style="display: block;" *ngIf="modalVisible">
    <div class="w3-modal-content">
      <div class="modal-header"></div>
      <div class="modal-container">
      <div class="modal-heading">Forgot Your Password? </div>
      <div class="modal-subhead">Let us help you</div>
      <div class="modal-text">In order to receive your password by email, please enter the address you provided during the registration process.</div>
      <form (ngSubmit)="ForgotPassword()" #forgotpassword="ngForm">
      <div class="forgotpwd">
        <input type="text" placeholder="Email Address" name="email" email [(ngModel)]="email"  required
        #forgotemail="ngModel"
        [ngClass]="{ 'is-invalid': (forgotemail.dirty || forgotemail.touched) &&  forgotemail.errors}" />
     </div>
     <div *ngIf="forgotemail.invalid && (forgotemail.dirty || forgotemail.touched)" class="forgotpwderror-message" >
      <div *ngIf="forgotemail.errors.required" >
          Enter your email ID!
      </div>
      <div *ngIf="forgotemail.errors.email">
          Enter a valid email ID
      </div>
      </div>
     
     <div class="forgotpwderror-message" *ngIf="invalidEmail">
        The email ID you entered does not exist. Please check that you have typed your email ID correctly.
     </div>

     


     <div class="paddingtop40">
      <span class="pwdsend"><button type="submit">SEND</button></span>
      <span class="pwdcancel"><button [routerLink]="['/login']">CANCEL</button></span>
     </div>
     </form>
    </div>
    </div>
  </div>


  <div id="myModal3" class="w3-modal forgotPassword" style="display: block;" *ngIf="modalSuccess">
    <div class="w3-modal-content">
        <div class="modal-header"></div>
        <div class="modal-container">
        <div class="modal-heading-success">Forgot Your Password? </div>
      <div class="forgotpwdsuccess-icon"><img src="../../assets/images/Success.png"></div>
      <div class="forgotpwdsuccess-text">Success!.</div>
      <div class="modeltxt-normal padbottom-40">Mail sent successfully to your registered email ID!.</div>
     
     <div>
      <span class="pwdsend" style=""><button [routerLink]="['/login']">CLOSE</button></span>
     </div>
    </div>
    </div>
  </div>